.wrapper {
  width: auto;
  height: auto;
  margin: 150px auto;
}

table {
  margin: auto;
  border-collapse: collapse;
  width: 400px;
}

tbody {
  display: flex;
  flex-flow: wrap row;
}

td {
  padding: 0;
}

#clear:hover {
  background-color: #82C276;
}
#equals:hover {
  background-color: #82C276;
}

#decimal {
  color: #FFFDFF;
  background-color: #61B34F;

}

.calc:hover {
  color: #426239;
}


.calc {
  width: 100px;
  height: 100px;
  color: #FFFDFF;
  background-color: #82C276;
  border: #94d387 1px solid;
  font-size: xx-large;
  outline: 0;
}

.num {
  width: 100px;
  height: 100px;
  color: #FFFDFF;
  background-color: #61B34F;
  border: #94d387 1px solid;
  font-size: xx-large;
  outline: 0;
}

input {
  height: 96px;
  border: #94d387 1px solid;
  background-color: #61B34F;
  color: #d8f2d5;
  text-align: right;
  width: 296px;
  font-size: xx-large;
}
